.cards-list {
  padding: 70px 70px 80px;
  background-color: #202020;
}

@media screen and (min-width: 768px) and (max-width: 1280px) {
  .cards-list {
    padding: 70px 30px 80px;
  }
}

.cards-list__container {
  display: flex;
  gap: 32px 28px;
  flex-wrap: wrap;
  margin-bottom: 60px;
}

@media screen and (min-width: 768px) and (max-width: 1280px) {
  .cards-list__container  {
    gap: 35px 24px;
    margin-bottom: 80px;
  }
}

.cards-list__btn-container {
  display: flex;
  justify-content: center;
  background-color: #2f2f2f;
  border-radius: 6px;
}

.cards-list__btn-more {
  all: unset;
  text-align: center;
  width: 200px;
  padding-top: 11px;
  padding-bottom: 9px;
  font-size: 0.75rem;
  font-weight: 500;
}

.cards-list__btn-container:hover {
  opacity: 0.8;
  cursor: pointer;
}
