.card {
  width: 360px;
  height: 319px;
  border-radius: 6px;
  background-color: #222;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.08);
  padding: 18px 0 0 0;
  color: #fff;
  box-sizing: border-box;
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .card {
    width: 342px;
    height: 309px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .card {
    padding-top: 14px;
    width: 300px;
    height: 271px;
  }
}

.card__info-container {
  margin-bottom: 18px;
  display: flex;
  justify-content: space-between;
  padding: 0 18px;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .card__info-container {
    margin-bottom: 14px;
    padding: 0 14px;
  }
}

.card__title {
  font-size: 0.9375rem;
  font-weight: 500;
  line-height: 1.125rem;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .card__title {
    font-size: 0.75rem;
  }
}

.card__duration {
  color: #8b8b8b;
  font-size: 0.8125rem;
  line-height: 1.125rem;
  width: 70px;
  text-align: right;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .card__duration {
    font-size: 0.625rem;
  }
}

.card__img {
  margin-bottom: 15px;
  width: 100%;
  height: 200px;
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .card__img {
    height: 190px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .card__img {
    height: 168px;
    margin-bottom: 10px;
  }
}

.card__save-btn {
  all: unset;
  display: block;
  border-radius: 30px;
  background: #313131;
  text-align: center;
  width: 100px;
  height: 29px;
  margin: 0 auto;
  font-size: 0.75rem;
  line-height: 0.6875rem;
  /* 91.667% */
}

.card__save-btn:hover {
  opacity: 0.8;
  cursor: pointer;
}

.card__save-btn_active {
  all: unset;
  width: 100px;
  height: 29px;
  display: block;
  margin: 0 auto;
  background-image: url("../../images/saveBtnActive.svg");
}

.card__save-btn_active:hover {
  opacity: 0.8;
  cursor: pointer;
}

.card__delete-btn {
  all: unset;
  width: 100px;
  height: 29px;
  background-image: url("../../images/delete-saved-card-btn.svg");
  display: block;
  margin: 0 auto;
}

.card__delete-btn:hover {
  opacity: 0.8;
  cursor: pointer;
}
