.profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 89vh;
  padding: 0 435px;
  background-color: #202020;
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .profile {
    padding: 0px 179px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .profile {
    height: 94vh;
    padding: 0 30px;
  }
}

.profile__title {
  text-align: center;
  margin-bottom: 123px;
  font-size: 1.5rem;
  font-weight: 500;
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .profile__title {
    margin-bottom: 96px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .profile__title {
    margin-bottom: 80px;
  }
}

.form {
  display: flex;
  flex-direction: column;
  font-size: 0.6875rem;
  font-weight: 500;
}

.form__container-name {
  display: flex;
  justify-content: space-between;
  padding-bottom: 16px;
  border-bottom: 1px solid #424242;
  margin-bottom: 17px;
}

.form__input-title {
}

.form__input {
  all: unset;
  text-align: right;
  font-weight: 400;
}

.form__container-email {
  display: flex;
  justify-content: space-between;
  margin-bottom: 185px;
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .form__container-email {
    margin-bottom: 177px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .form__container-email  {
    margin-bottom: 345px;
  }
}

.profile__btns-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 16px;
  font-size: 0.8125rem;
  font-weight: 400;
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .profile__btns-container {
    gap: 16px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .profile__btns-container {
    font-size: 0.75rem;
  }
}

.profile__edit-btn {
  all: unset;
}

.profile__edit-btn:hover {
  opacity: 0.7;
  cursor: pointer;
}

.profile__logout-btn {
  all: unset;
  color: #ee3465;
  font-weight: 500;
}

.profile__logout-btn:hover {
  opacity: 0.7;
  cursor: pointer;
}

.form__error-message {
  margin-bottom: 20px;
  height: 14px;
  color: #ff004c;
  text-align: center;
  font-size: 0.6875rem;
}

.form__submit-btn {
  all: unset;
  height: 45px;
  background-color: #3456f3;
  border-radius: 3px;
  text-align: center;
  font-size: 0.875rem;
  font-weight: 500;
}

.form__submit-btn:hover {
  opacity: 0.8;
  cursor: pointer;
}
