.navigation {
  display: flex;
  gap: 50px;
}

.navigation__films {
  display: flex;
  gap: 20px;
}

.navigation__link {
  font-size: 0.875rem;
  line-height: 1.125rem;
  font-weight: 400;
  align-self: center;
}

.navigation__link:hover {
  opacity: 0.7;
  cursor: pointer;
}

.navigation__profile-container {
  display: flex;
  gap: 13px;
}

.navigation__profile-link {
  align-self: center;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1rem; /* 114.286% */
}

.navigation__profile-icon {
  width: 10px;
  height: 10px;
  padding: 10px;
  background-color: #0f4157;
  border-radius: 6px;
  align-self: center;
}

.navigation__profile-icon_dark {
  background-color: #313131;
}

.navigation__profile-container:hover {
  opacity: 0.7;
  cursor: pointer;
}
