.login-register {
  padding: 0 442px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  line-height: normal;
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .login-register {
    padding: 0 186px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .login-register {
    padding: 0 30px;
  }
}

.login-register__logo {
  margin-bottom: 40px;
  width: 38px;
  height: 38px;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .login-register__logo {
    display: block;
    margin: 0 auto 50px;
    width: 38px;
    height: 38px;
  }
}

.login-register__title {
  margin-bottom: 40px;
  font-size: 1.5rem;
  font-weight: 500;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .login-register__title {
    margin-bottom: 80px;
    text-align: center;
  }
}

.login-register__form {
}

.login-register__inputs-container {
  display: flex;
  flex-direction: column;
  gap: 6px;
  margin-bottom: 134px;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .login-register__inputs-container {
    margin-bottom: 222px;
  }
}

.login-register__inputs-container_login {
  margin-bottom: 203px;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .login-register__inputs-container_login {
    margin-bottom: 291px;
  }
}

.login-register__input-container {
  display: flex;
  flex-direction: column;
}

.login-register__input-title {
  color: #8b8b8b;
  font-size: 0.625rem;
  font-weight: 400;
  margin-bottom: 5px;
}

.login-register__input {
  all: unset;
  font-size: 0.875rem;
  font-weight: 400;
  padding-bottom: 10px;
  border-bottom: 1px solid #424242;
  margin-bottom: 6px;
}

.login-register__input_error {
  color: #ee3465;
}

.login-register__input:focus {
  border-bottom: 1px solid #4285f4;
}

.regiter__submit-btn {
  all: unset;
  background-color: #4285f4;
  width: 100%;
  text-align: center;
  padding: 13px 0 15px 0;
  font-size: 0.875rem;
  font-weight: 500;
  border-radius: 3px;
  margin: auto;
}

.regiter__submit-btn:hover {
  opacity: 0.8;
  cursor: pointer;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .regiter__submit-btn {
    font-size: 0.75rem;
    padding: 15px 0 15px 0;
  }
}

.login-register__error-message {
  color: #ee3465;
  font-size: 10px;
  font-weight: 400;
  height: 12px;
}

.login-register__login-text {
  display: flex;
  justify-content: center;
  padding-top: 16px;
  color: #8b8b8b;
  font-size: 0.875rem;
  gap: 6px;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .login-register__login-text {
    font-size: 0.75rem;
    padding-top: 14px;
    gap: 7px;
  }
}

.login-register__login-link {
  all: unset;
  color: #4285f4;
}

.login-register__login-link:hover {
  opacity: 0.7;
  cursor: pointer;
}
