.login-register {
  padding: 70px 34.53%;
  line-height: normal;
}

@media screen and (min-width: 768px) and (max-width: 1280px) {
  .login-register {
    padding: 232px 186px;
  }
}

.login-register__logo {
  margin-bottom: 36px;
}

.login-register__title {
  margin-bottom: 40px;
  font-size: 1.5rem;
  font-weight: 500;
}

.login-register__form {
}

.login-register__inputs-container {
  display: flex;
  flex-direction: column;
  gap: 6px;
  margin-bottom: 134px;
}

.login-register__inputs-container_login {
  margin-bottom: 203px;
}

.login-register__input-container {
  display: flex;
  flex-direction: column;
}

.login-register__input-title {
  color: #8b8b8b;
  font-size: 0.625rem;
  font-weight: 400;
  margin-bottom: 5px;
}

.login-register__input {
  all: unset;
  font-size: 0.875rem;
  font-weight: 400;
  padding-bottom: 10px;
  border-bottom: 1px solid #424242;
  margin-bottom: 6px;
}

.login-register__input_error {
  color: #ee3465;
}

.login-register__input:focus {
  border-bottom: 1px solid #4285f4;
}

.regiter__submit-btn {
  all: unset;
  background-color: #4285f4;
  width: 100%;
  text-align: center;
  padding: 13px 0 15px 0;
  font-size: 0.875rem;
  font-weight: 500;
  border-radius: 3px;
  margin: auto;
}

.regiter__submit-btn:hover {
  opacity: 0.8;
  cursor: pointer;
}

.login-register__error-message {
  color: #ee3465;
  font-size: 10px;
  font-weight: 400;
  height: 12px;
}

.login-register__login-text {
  display: flex;
  justify-content: center;
  padding-top: 16px;
  color: #8b8b8b;
  font-size: 0.875rem;
  gap: 6px;
}

.login-register__login-link {
  all: unset;
  color: #4285f4;
}

.login-register__login-link:hover {
  opacity: 0.7;
  cursor: pointer;
}
